#About{
    height:2000px;
}
.headings{
    font-size: 1.7rem;
}
#pic img{
    width: 300px;
    height: 175px;
}
#more_about_me{
    font-size: 1.5rem;
}
#hobbies h1{
    font-size: 1.7rem;
}
#Contact{
    background-position:
    width: 300px;
    height: 175px;
}
footer {
    font-size: 1.5rem;
}